<html>
   <head>
      <title> reports and stuff ... </title>
   </head>

   <body>

      <h1> Which Target Clicked </h1>



<table>
<tr><td>Target</td><td></td><td></td><td></td><td>#clicks</td></tr>
<tr><td>help_btn</td><td></td><td></td><td></td><td>845</td></tr>
<tr><td>learn_more_btn</td><td></td><td></td><td></td><td>715</td></tr>
<tr><td>register_btn</td><td></td><td></td><td></td><td>792</td></tr>
<tr><td>screen_1</td><td></td><td></td><td></td><td>778</td></tr>
<tr><td>screen_2</td><td></td><td></td><td></td><td>714</td></tr>
<tr><td>screen_3</td><td></td><td></td><td></td><td>714</td></tr>
<tr><td>screen_4</td><td></td><td></td><td></td><td>715</td></tr>
<tr><td>screen_5</td><td></td><td></td><td></td><td>749</td></tr>
<tr><td>screen_6</td><td></td><td></td><td></td><td>39</td></tr>
<tr><td>screen_7</td><td></td><td></td><td></td><td>866</td></tr>
<tr><td>screen_8</td><td></td><td></td><td></td><td>286</td></tr>
<tr><td>text_me_btn</td><td></td><td></td><td></td><td>70</td></tr>
<tr><td>untracked_element</td><td></td><td></td><td></td><td>797</td></tr>
</table>


   </body>
</html>
